*{
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: normal;
}

body, html{
	padding: 0;
	margin: 0;
	font-size: 20px;
}

.module{
	position: relative;
	width: 100vw;
	height: 8em;

}

#hey {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 6em;
  color: #FF8396;
  z-index: 2000;
  text-align: center;
}


.star-five {
      margin-left: auto;
	  margin-bottom: auto;
	  margin-right: auto;
	  margin-top: auto;
      position: relative;
      display: inline-block;
      color: #FFCE00;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid #FFCE00;
      border-left: 100px solid transparent;
      transform: rotate(35deg);
      z-index: 1000;
    }
    .star-five:before {
      border-bottom: 80px solid #FFCE00;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -45px;
      left: -65px;
      display: block;
      content: '';
      transform: rotate(-35deg);
    }
    .star-five:after {
      position: absolute;
      display: block;
      color: #FFCE00;
      top: 3px;
      left: -105px;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid #FFCE00;
      border-left: 100px solid transparent;
      transform: rotate(-70deg);
      content: '';
    }

    .heart {
      position: absolute;
      display: inline-block;
      width: 100px;
      height: 90px;
    }
    .heart:before,
    .heart:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: red;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
      z-index: 1000;
    }
    .heart:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }
  